<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <link rel="stylesheet" href="css/bootstrap-material-design.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <title>PushG</title>
</head>
<body>
<%- include('navbar');-%>
<div id="main_content" class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <form action="/aram" method="post">
                <div class="form-group">

                    <label class="input-group-text" for="region">Server: </label>
                    <select class="custom-select" id="region" name="region">
                        <option selected>Choose...</option>
                        <option value="EUW1" selected>EU West</option>
                        <option value="EUN1">EU North</option>
                        <option value="NA1">North America</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-group-text" for="summoner_name">Playername: </label>
                    <input type="text" id="summoner_name" class="form-control" name="playername"><br>
                </div>
                <div class="form-group">
                    <label class="input-group-text" for="difficultySelect">Difficulty: </label>
                    <div class="btn-group btn-group-lg" id="difficultySelect" role="group">
                        <button type="button" class="btn btn-secondary">Easy</button>
                        <button type="button" class="btn btn-secondary">Middle</button>
                        <button type="button" class="btn btn-secondary">Hard</button>
                        <button type="button" class="btn btn-secondary">Party</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-text" for="allPlayers">Calculate for only yourself or all Players in your
                        Team: </label>
                    <div class="btn-group" id="allPlayers" role="group">
                        <button type="button" class="btn btn-secondary">Only Me</button>
                        <button type="button" class="btn btn-secondary">Whole Team</button>
                    </div>
                    <br>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
    <% if(stat !== null){ %>
        <ul class="list-group" id="player_stats">
            <%- stat %>
        </ul>
    <% }
    %>

</div>

<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-material-design.js"></script>
<script>$(document).ready(function () {
        $('body').bootstrapMaterialDesign();
    });</script>
</body>
</html>